.achievements-section {
  color: white;
  text-align: center;
  padding: 90px 20px;
  font-family: var(--font-sans);
}

.sectionheading {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.achievement-card {
  flex: 1 1 calc(40.333% - 25px);
  max-width: calc(40.333% - 25px);
  backdrop-filter: 10px;
  border: 0.5px solid rgba(239, 239, 239, 0.05);
  padding: 20px;
  transition: transform 0.3s ease;
  /* background-color: var(--backgroundhover); */
  text-align: left;
  min-width: 280px;
  min-height: 220px;
}


.achievement-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.achievement-card h4 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.achievement-card p {
  font-size: 0.9rem;
  opacity: 0.85;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .achievement-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 600px) {
  .achievement-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
