:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scrollcolor: rgb(155 155 155 / 87%);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollcolor) ;
}
body {
  background-color: var(--background-color);
}

html {
  overflow-x: hidden !important;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
